.banner {
    background: var(--azul-degrade);
    color: var(--branco);
    text-align: center;
    padding: 2.5em 1.5em;
}

.banner__titulo {
    font-size: 18px;
    font-weight: bold;
}

.banner__texto {
    font-weight: 500;
    margin: 1em 0;
}

.banner__pesquisa {
    background-color: transparent;
    border: 1px solid var(--branco);
    color: var(--branco);
    border-radius: 24px;
    padding: 0.8em;
    width: 100%;
}

.banner__pesquisa::placeholder {
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 400;
    color: var(--branco);
    text-align: center;
    background: url("../Assets/pesquisa.svg") no-repeat;
    background-position: 1.2em;
}



@media screen and (min-width: 1024px) {

    .banner__titulo {
        font-weight: 700;
        font-size: 36px;
    }

    .banner__pesquisa {
        width: 50%;
        padding: 1.5em 0;
    }

    .banner__pesquisa::placeholder {
        background-position: 9em;
        padding-left: 2em;
    }

}

@media screen and (min-width: 1728px) {
    
    .banner {
        padding: 5em 0 ;
    }

    .banner__pesquisa {
        margin-top: 1em;
        width: 35%;
    }

    .banner__pesquisa::placeholder {
        font-size: 16px; 
    }


}
