.carrossel__titulo {
    color: var(--laranja);
    background-color: var(--branco);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
}

.swiper-slide img{
    width: 100%;
}

.swiper-button-prev, .swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: 0.5em 0;
}

.card__descricao {
    display: flex;
    align-items: flex-start;
}

.card__botoes {
    display: flex;
    justify-content: space-between;
    
}

.botoes {
    display: flex;
    
}

.card {
    background: var(--branco);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 0.9em;
    padding: 0.9em 0.9em 0 0.9em;
}

.descricao__titulo {
    color: var(--laranja);
    font-weight: 700;
    line-height: 20px;
}

.descricao__titulo-livro {
    color: var(--azul-marinho);
    font-size: 18px;
    font-weight: 700;
    margin: 0.5em 0;
    line-height: 24px;
}

.descricao__texto {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 1em;
}

.botao__ancora {
    font-family: var(--fonte-principal);
    text-decoration: none;
    background-color: var(--laranja);
    color: var(--branco);
    font-weight: 700;
    padding: 1em 2.3em;
    margin: -0.2em 0 1.5em 0;
}

.primeiro__botao {
    margin-top: 1em;
}

.descricao__imagem-autora {
    margin-bottom: 3em;
}

.estrelas {
    padding-bottom: 0.5em;
}

.ajuste__imagens {
    margin-left: auto;
}




@media screen and (min-width: 1024px) {

    .carrossel__titulo {
        font-size: 26px;
    }

    .swiper-pagination {
        margin: 2em 0 3em 0;
    }

    .swiper {
        width: 60%;
    }

    .card {
        width: 50%;
        margin: 3em auto;
    }

    .swiper-button-prev, .swiper-button-next {
    display: block;
    }

    .swiper-slide img{
        margin: 0 1em;
    }

    .swiper {
        width: 70%;
    }

    .botao__ancora {
        margin-top: 1em;
    }
    
    .carrossel__titulo {
        font-size: 26px;
        padding: 2em 0 1em 0;
    }
    
    .segundo__botao {
        position: relative;
        top: -40px;
    }

    .estrelas {
        padding-top: 1em;
    }

    .descricao__titulo {
        padding-top: 1em;
    }

    .card__botoes {
        margin-bottom: -1em;
    }

}

@media screen and (min-width: 1728px) {

    .carrossel__container {
        display: flex;
        margin: 0 20vw 3em 20vw;
        align-items: center;
        gap: 10px;
    }

    .swiper-pagination {
    position: initial;
    margin: 0.5em 0;
    }

    .swiper {
        flex: 4;
    }

    .card {
        margin: 2em 0 0 4em;
        flex: 4;
    }

    .descricao__titulo {
        font-size: 32px;
        line-height: 1em;
        margin-top: -1em;
    }

    .card {
        margin-left: 3em;
        width: 30rem;
    }

    .carrossel__titulo {
        margin-bottom: 40px;
        font-size: 32px;
    }

    .descricao__texto {
        font-size: 16px;
    }
}