.contato {
    background-color: var(--branco);
    padding: 2em 1em;
}

.contato__titulo {
    font-size: 18px;
    font-weight: 500;
    background-clip: text;
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contato__texto {
    margin: 1em 0;
    font-weight: 300;
    background-clip: text;
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contato__email {
    background-color: transparent;
    border: 1px solid var(--azul-marinho);
    color: var(--azul-marinho);
    border-radius: 24px;
    padding: 1em;
    width: 90%; 
}

.contato__email::placeholder {
    justify-content: center;
    font-family: var(--fonte-principal);
    color: var(--azul-marinho);
    background: url("../Assets/email.svg") no-repeat;
    padding-left: 2em;
    padding-top: 0.2em;
}


@media screen and (min-width: 1024px) {

    .contato {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contato__email {
        width: 30%;
    }

    .contato__descricao {
        margin-right: 2em;
        width: 30%;
    }

    .contato__titulo {
        font-size: 24px;
    }

}

@media screen and (min-width: 1728px) {

    .contato {
        padding: 3em 10vw;
    }

    .contato__email {
        width: 20%;
    }


}