hr {
    margin: 0;
}

.rodape {
    background-color: var(--cinza-rodape);
    padding: 1em 0 1.5em 1.5em;
}

.rodape__titulo {
    color: var(--preto);
    font-size: 16px;
    font-family: var(--fonte-principal);
}


.lista-rodape {
    display: none;
}

@media screen and (min-width: 1024px) {

    .lista-rodape {
        display: block;
    }
    
    .rodape {
        display: flex;
        justify-content: space-between;
        padding: 3em 2em;
    }

    .rodape__titulo {
        font-size: 24px;
    }

    .lista-rodape__titulo {
        color: var(--cinza-claro);
        padding: 0 0 2em 0;
        font-size: 14px;
    }

    .lista-rodape__item {
        display: flex;
        align-items: center;
        padding: 0 0 1em 0;
        font-size: 14px;
    }

    .lista-rodape__link {
        padding-left: 0.5em;
        text-decoration: none;
        color: var(--cinza-escuro);
    }

}


@media screen and (min-width: 1728px) {

    .lista-rodape {
        border-left: 1px solid var(--cinza-claro);
    }
    .rodape {
        padding: 3em 15em ;
    }

    .lista-rodape__item, .lista-rodape__titulo {
        padding-left: 1em;
    }

}